<div class="navbar navbar-default navbar-fixed-top"  ng-controller="mainController">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">{{'HOME'|i18n}}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            
            <li>
              <a href="/users">{{'USERS'|i18n}}</a>
            </li>
            
            
          </ul>

          <ul class="nav navbar-nav navbar-left">
        <% if(defaultLocalelanguage==='fr') {%>
        <li><a  href="/language/en"  >English</a></li>
        <% } %>
          <% if(defaultLocalelanguage==='en') {%>
        <li><a  href="/language/fr"  > français </a></li>
        <% } %>
        <li><a href="/Tafa-Diarabi/photos/gallery">Photos</a></li>
        <li><a href="/Tafa-Diarabi/videos/gallery">Videos</a></li>
      </ul>
        </div>
      </div>
    </div>