<!DOCTYPE html>
<html ng-app="mainApp">
	<head>
		 

		 <%-partial('./partials/_head')%>
	</head>
	<body>
		<%-partial('./partials/_nav')%>
		<div class="container">
				
				        <%- body -%>
		</div>

		<%-partial('./partials/_footer')%>
	</body>
</html>