<div class="col-sm-6 col-sm-offset-3">
	
<div class="jumbotron">

	<table>
		 
		<tr ng-repeat="a in users track by $index">
			<td ng-bind="a.local.username"></td>
				
			
			 
				
			
			
		</tr>
	</table>


	</div>
</div>