html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar-default {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
    background: cadetblue;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

 

 .content {display:none;}
.preload {
    width:100%;
    height: 100%;
    margin: auto;
    /*position: absolute;*/


  }
  .loadingImage{
    margin-left:50%;
    height: 60px;
    width: 60px;
  }